body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  background: #e6e6e6;
}

a,
button {
  transition: all 0.3s ease;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

p:last-child {
  margin-bottom: 0;
}

.tm-page-wrap {
  max-width: 1400px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  background: white;
}
.tm-container-outer {
  max-width: 1400px;
  margin: 0 auto;
}
.tm-container-outer-b {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}

.tm-content-box {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
.tm-text-gray {
  color: #787676;
}

.tm-text-highlight {
  color: #c66995;
  font-weight: 600;
}

.tm-bg-highlight {
  background: #69c6ba;
}
.tm-bg-primary {
  background: #c66995;
}

.btn-primary {
  background: #69c6ba;
  border: none;
  border-radius: 0;
  outline: none;
}

.btn-primary:hover {
  background: #c66995;
}
.tm-top-bar .navbar-expand-lg .navbar-nav .nav-link {
  padding: 15px;
  font-size: 16px;
}

.tm-top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 10000;
  transition: all 0.2s ease-in-out;
  height: 119px;
  background: white;
}
/* 
.tm-top-bar.active {
  height: 60px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.tm-top-bar.active .navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px;
  font-size: 14px;
}
.tm-top-bar.active .navbar-brand {
  font-size: 14px;
} */

.tm-top-bar .navbar-brand img {
  width: 110px;
  height: auto;
}

/* .tm-top-bar.active .navbar-brand img {
  width: 55px;
} */
.tm-top-bar-bg {
  height: 119px;
}
.tm-top-bar a {
  color: black;
}

.navbar-brand {
  font-size: 16px;
  text-transform: uppercase;
}
.navbar-brand img,
.navbar-brand p {
  display: inline-block;
  vertical-align: middle; /* Align elements vertically */
  margin-right: 10px; /* Adjust as needed */
  color: #69c6ba;
}
.navbar {
  font-weight: 700;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-link.active,
.nav-link:hover {
  color: #69c6ba;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(104, 199, 187)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: rgb(104, 199, 187);
  border-radius: 0;
  cursor: pointer;
}

.tm-banner-title {
  font-size: 3rem;
  margin-bottom: 10px;
  color: rgb(104, 199, 187);
}
.tm-banner-subtitle {
  font-size: 1.5rem;
  margin-top: 10px;
  letter-spacing: 1px;
}

.tm-banner-header {
  color: white;
}
.tm-banner-overlay {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.8);
}
.tm-banner-bg {
  background: url(../img/banner.jpg) center center no-repeat;
  background-size: cover;
  min-height: 720px;
  position: relative;
}
.tm-banner-row {
  position: relative;
  z-index: 100;
  justify-content: center;
  /* padding-top: 100px; */
}
.tm-banner-row-header {
  text-align: center;
}
.tm-down-arrow-link {
  color: white;
  background-color: #69c6ba;
  border-radius: 50%;
  padding: 10px 15px;
  margin-top: 0px;
  display: inline-block;
}

.tm-down-arrow-link:hover,
.tm-down-arrow-link:focus {
  color: white;
  background-color: #c66995;
}

/* Search form */
select.tm-select.form-control:not([size]):not([multiple]) {
  height: 45px;
}
.form-control {
  font-size: 0.8rem;
  padding: 0.75rem;
}
label {
  font-weight: 700;
}
.tm-search-form {
  background-color: #f5f6f6;
  padding: 25px 25px 15px;
  width: 100%;
  max-width: 830px;
  margin-left: 15px;
  margin-right: 15px;
}

.tm-form-group {
  float: left;
}
.tm-form-group-pad {
  padding: 0 8px;
}
.tm-form-group-1 {
  width: 50%;
}
.tm-form-group-2 {
  width: 50%;
}
.tm-form-group-3 {
  width: 25%;
}
.form-control {
  border-radius: 0;
}

.tm-btn-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tm-btn {
  cursor: pointer;
  display: inline-block;
  font-size: 0.85rem;
  font-weight: 400;
  padding: 12px 20px;
}

.tm-btn-white {
  background: white;
}
.tm-btn-white-primary {
  color: #69c6ba;
}
.tm-btn-white-highlight {
  color: #c66995;
}

.tm-btn-white-primary:hover,
.tm-btn-white-primary:focus,
.tm-btn-white-primary:active {
  background: #c66995;
  color: white;
}

.tm-btn-white-highlight:hover,
.tm-btn-white-highlight:focus,
.tm-btn-white-highlight:active {
  background: #69c6ba;
  color: white;
}

.tm-btn-search {
  width: 100%;
}

.tm-btn-search:hover,
.tm-btn-search:active,
.tm-btn-search:focus {
  background: #c66995;
}

.contact-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-btn {
  display: inline-block;
  background-color: #69c6b9;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

/* .contact-btn i {
  margin-right: 8px;
} */

.messenger-btn {
  background-color: #0084ff; /* Messenger blue color */
}

.instagram-btn {
  background-color: #e4405f; /* Instagram pink color */
}

.call-btn {
  background-color: #25d366; /* WhatsApp green color (similar for call) */
}

.whatsapp-btn {
  background-color: #25d366; /* WhatsApp green color */
}

.viber-btn {
  background-color: #665cac; /* Viber purple color */
}

.telegram-btn {
  background-color: #0088cc; /* Telegram blue color */
}
.contact-btn:hover {
  opacity: 0.8;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Full screen height */
}

.modal-content {
  padding: 20px;
  border-radius: 30px;
}

.tm-bg-gray {
  background-color: #efefef;
}
.tm-bg-green {
  background-color: #69c6ba;
}

#tour-subtitle {
  color: white;
  font-weight: 700;
}
#tour-name {
  color: white;
  font-weight: 900;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.tm-about-text-wrap {
  max-width: 830px;
}

.tm-right {
  display: inline-block;
  float: right;
}

.tm-slideshow-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tm-slideshow-section-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.tm-slideshow {
  width: 100%;
}

.tm-slideshow-description-left {
  margin-left: auto;
  margin-right: -42px;
}

.tm-position-relative {
  position: relative;
}

.slick-prev,
.slick-next {
  width: 50px;
  height: 50px;
}

.slick-prev,
.slick-next,
.slick-prev:focus,
.slick-prev:active,
.slick-next:focus,
.slick-next:active {
  background: rgba(0, 0, 0, 0.5);
}

.slick-prev:before,
.slick-next:before {
  font-size: 22px;
}

.slick-prev:hover,
.slick-next:hover {
  background: #69c6ba;
}

.tm-slideshow-highlight .slick-prev:hover,
.tm-slideshow-highlight .slick-next:hover {
  background: #c66995;
}

.slick-prev {
  left: auto;
  z-index: 1000;
}

.tm-right .slick-prev {
  left: 42px;
  right: auto;
}

.slick-next {
  right: 0px;
}

.tm-right .slick-next {
  right: auto;
  left: 94px;
}

/* Tabs */
.tm-tabs-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  background: #69c6ba;
}

.tm-tab-link {
  padding: 30px 25px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  font-size: 0.9rem;
  height: 100%;
}

.tm-tab-link:hover {
  color: white;
}

.tm-tab-link-li {
  background: transparent;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  transition: all 0.3s ease;
}

.tm-tab-link:hover,
.tm-tab-link.active {
  background: #c66995;
}

.tab-pane {
  max-width: 970px;
  margin: 60px auto;
}

.tm-recommended-place {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  margin-bottom: 25px;
}

.tm-recommended-title {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.tm-recommended-img {
  width: 270px;
}

.tm-recommended-description-box {
  padding: 30px;
  width: 500px;
}

.tm-recommended-price-box {
  background-color: #69c6ba;
  background-image: url(../img/button-curve.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  font-weight: 400;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 20px;
  width: 200px;
  transition: all 0.3s ease;
}

.tm-recommended-price-box:hover {
  background-color: #c66995;
}

.tm-recommended-price {
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
}

.tm-recommended-price-link {
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.tm-d-table {
  display: table;
}

footer {
  background: #69c6ba;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 0.8rem;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #900;
}

footer p {
  color: white;
}

.tm-footer-text-highlight {
  color: white;
  font-weight: 600;
}

.tm-footer-text-highlight:hover {
  color: #c66995;
}

.tm-contact-form {
  background: rgba(255, 255, 255, 0.4);
  width: 470px;
  position: absolute;
  top: 150px;
  left: 100px;
  padding: 20px;
  z-index: 1000;
  pointer-events: auto;
}

.form-control {
  background-color: #f5f5f5;
  border: none;
  pointer-events: auto;
}

.form-control:focus {
  border-color: #69c6ba;
  box-shadow: 0 0 0 0.1rem #69c6babf;
}

.tm-name-container,
.tm-email-container {
  width: 210px;
  float: left;
}

.tm-email-container {
  margin-left: 10px;
}

.tm-btn-send {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  pointer-events: auto;
}

#google-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.tm-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between sections as needed */
}

.tm-flex-item-1 {
  flex: 3 3 calc(60% - 15px); /* 75% width minus gap */
  min-width: 300px; /* Adjust the minimum width as needed */
  padding: 50px;
}

.tm-flex-item-2 {
  flex: 2 2 calc(40% - 5px); /* 25% width minus gap */
  min-width: 150px; /* Adjust the minimum width as needed */
  /* align-self: center; */
  padding: 50px;
}

.excursion-paragraph,
.highlight-span {
  font-size: 18px; /* Adjust the size to your preference */
  line-height: 1.6; /* Increased line height for better readability */
  color: #333; /* Dark gray color for the text */
  margin-bottom: 20px; /* Space between paragraphs */
  font-family: "Arial", sans-serif; /* Font style */
}

.tm-price-box {
  padding: 15px 25px; /* Increased padding for more visibility */
  background-color: #f8f9fa; /* Light background color for visibility */
  border-radius: 20px; /* Less squared corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

.tm-price {
  font-size: 28px; /* Slightly larger font for prominence */
  font-weight: 700;
  color: #d34a02; /* Attractive color for the price */
  margin: 0;
  display: inline-block;
}

.tm-btn {
  display: inline-block;
  padding: 12px 25px; /* Slightly larger padding for the button */
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.tm-btn:hover {
  background-color: #0056b3;
  color: #ffffff;
  transform: translateY(-3px);
}

.tm-btn:active {
  background-color: #004080;
  transform: translateY(0);
}
.tm-price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* margin-bottom: 40px; Adjust as needed */
}

.tm-info-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #000; /* adjust color as needed */
}
.tm-price-box {
  position: relative;
  display: inline-block;
  cursor: pointer; /* Make the entire box clickable */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a stronger shadow */
}

.tm-price {
  font-size: 28px; /* Slightly larger font for prominence */
  font-weight: 700;
  color: #d34a02; /* Attractive color for the price */
  margin: 0;
  display: inline-block;
}

.price {
  font-weight: 700;
  color: #d34a02; /* Attractive color for the price */
  margin: 0;
  display: inline-block;
}

.tm-price-info {
  position: absolute;
  top: -100%;
  left: -50%;
  /* transform: translateX(-50%); */
  display: none;
  background-color: #fff;
  padding: 15px; /* Increase padding for better spacing */
  border: 1px solid #ccc;
  border-radius: 10px; /* Round the corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  min-width: 220px; /* Adjust width as needed */
  z-index: 10; /* Ensure it's on top of other content */
  font-size: 1em; /* Adjust text size */
  color: #69c6b9; /* Set text color */
  font-weight: 900;
}
/* .tm-price-info::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 10px;
  border-width: 5px;
  border-style: solid;
} */

.tm-price-info.active {
  display: block;
}
#price {
  font-weight: 700;
  font-size: 1rem;
  color: #d9534f; /* Attractive color for the price */
}
.tm-slideshow img {
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

#tm-tour-slideshow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.tm-included-section {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.tm-included-column {
  width: 100%;
}

.checkmark {
  color: green;
  font-weight: bold;
}

.crossmark {
  color: red;
  font-weight: bold;
}

.tm-price-info {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  min-width: 220px;
  z-index: 10;
  font-size: 1em;
  color: #69c6b9;
  font-weight: 900;
}

.tm-price-info.active {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 1em;
  justify-content: space-between;
}

.carousel {
  max-width: 1400px;
  margin: 0 auto; /* Center the carousel */
  position: relative; /* Position the carousel for the text overlay */
}
.carousel-inner {
  max-height: 600px;
}

.carousel-caption {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7); /* Heavy shadow */
  padding: 10px;
  /* /* color: #c66995; */
}

.caption {
  font-size: 4.5rem;
}
.carousel-outter {
  background-color: 69c6b9;
}

.carousel-item img {
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  height: 100%;
  max-height: 100vh; /* Ensure the height is responsive */
}

.navbar-light .navbar-nav .nav-link {
  color: #d9534f;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #69c6ba;
}
.navbar-light .navbar-nav .nav-link:focus {
  color: #d9534f;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #69c6ba;
}
.navbar-nav {
  background-color: #fff;

  .language-switcher {
    position: relative;
    display: inline-block;
  }

  .dropbtn {
    background-color: #f9f9f9;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .language-switcher:hover .dropdown-content {
    display: block;
  }
}
#current-lang-icon {
  width: 22px;
}
.flag {
  width: 22px !important;
}

/* media */
@media screen and (max-width: 1080px) {
  .tm-tab-link-li {
    width: 33.33%;
  }
  .tm-banner-title {
    font-size: 3rem;
  }
  .tm-banner-bg {
    background: url(../img/banner.jpg) center bottom no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 520px;
    position: relative;
  }
}

@media screen and (max-width: 1033px) {
  .tm-slideshow-description {
    width: 55%;
  }
  .caption {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 991px) {
  .tm-top-bar .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 10px;
    background: white;
  }

  .tm-page-wrap {
    padding-top: 60px;
  }
  .tm-top-bar,
  .tm-top-bar-bg {
    height: auto;
  }

  #mainNav {
    width: 200px;
    position: absolute;
    top: 53px;
    right: 15px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(214, 214, 214, 1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(214, 214, 214, 1);
    box-shadow: 0px 0px 7px 0px rgba(214, 214, 214, 1);
  }

  .tm-top-bar {
    height: 60px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
  }

  /* .tm-top-bar.active .navbar-expand-lg .navbar-nav .nav-link,
  .tm-top-bar .navbar-expand-lg .navbar-nav .nav-link {
    padding: 15px;
  } */

  .tm-top-bar .navbar-brand {
    font-size: 1rem;
  }

  .tm-top-bar .navbar-brand img {
    width: 55px;
    height: auto;
  }

  .tm-top-bar .navbar-brand img {
    width: 40px;
  }

  .tab-pane {
    margin-left: 20px;
    margin-right: 20px;
  }

  .tm-recommended-description-box {
    width: 450px;
  }

  #soc {
    flex-direction: row;
  }
}

.dropdown-menu {
  min-width: auto; /* Remove any minimum width */
  width: auto; /* Set width to auto */
}

.dropdown-item img {
  width: 30px; /* Set the width of the flag images */
  height: auto; /* Maintain aspect ratio */
}
@media screen and (max-width: 986px) {
  .tm-slideshow-section {
    flex-direction: column;
  }

  .tm-slideshow,
  .tm-slideshow-description {
    width: 100%;
    max-width: 700px;
  }

  .tm-slideshow-description {
    margin-right: auto;
    margin-left: auto;
  }

  .slick-prev,
  .slick-next {
    bottom: 0;
    top: 50%;
  }

  .tm-contact-form {
    position: static;
    width: 100%;
  }

  .tm-name-container,
  .tm-email-container {
    width: 49%;
  }

  .tm-email-container {
    margin-left: 0;
    float: right;
  }
}

@media screen and (max-width: 860px) {
  .tm-recommended-description-box {
    width: 350px;
  }
}

@media screen and (max-width: 826px) {
  .tm-banner-row-header {
    /* padding-top: 120px; */
  }

  .tm-recommended-place-wrap {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto 15px;
  }

  .tm-recommended-place {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
  }

  .tm-recommended-price,
  .tm-recommended-price-link {
    position: relative;
    z-index: 1000;
  }

  .tm-recommended-price {
    padding-top: 50px;
  }

  .tm-recommended-price-box {
    width: 270px;
    height: 180px;
    position: relative;
    overflow: hidden;
    padding-left: 0;
    background-image: none;
  }

  .tm-recommended-price-box:after {
    content: "";
    position: absolute;
    width: 180px;
    height: 270px;
    top: -45px;
    left: 45px;
    z-index: 27;
    background: url(../img/button-curve.png) 0 0 no-repeat;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background-size: auto 100%;
  }

  .tm-recommended-price-box,
  .tm-recommended-price-box:hover {
    background-size: cover;
  }

  .tm-recommended-description-box {
    width: 270px;
  }
}

@media screen and (max-width: 767px) {
  .tm-banner-row {
    /* padding-top: 80px;*/
    padding-bottom: 50px;
  }

  .caption {
    font-size: 2.5rem;
  }
  .tm-banner-header {
    margin-top: 100px;
  }

  .tm-form-group-1,
  .tm-form-group-2,
  .tm-form-group-3 {
    width: 100%;
  }

  .tm-flex-item-1,
  .tm-flex-item-2 {
    flex: 1 1 100%; /* Stack sections on smaller screens */
  }
  .tm-flex-item-1 {
    padding-bottom: 0px; /* Adjust the gap between sections as needed */
  }
  .tm-flex-item-2 {
    padding-top: 0px; /* Adjust the gap between sections as needed */
  }
}

@media screen and (max-width: 400px) {
  .tm-top-bar .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 6px;
  }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  .slick-prev,
  .slick-next {
    top: 50%;
    transform: translateY(-50%);
  }
}
